* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Contact Section start */
#contact {
    background: #f4f2ed;
    padding: 5rem 0;
}

#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact .contact-info {
    width: 50%;
}

form {
    width: 50%;
}

#contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
}

#contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}

#contact .contact-info p {
    color: #9a9a9a;
}

#contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
}

#contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

#contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
}

form input,
textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
    outline: none;
}

form button {
    color: #fff;
    background-color: #383848;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #e4b95b;
    color: #383848;
}

/* Contact Section End */